.ql-mention-list-container {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}

.ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item.disabled {
  cursor: auto;
}

.ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

.mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d3e1eb;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

div.mention_avatar_block {
  display: inline-block !important;
  vertical-align: middle;
  margin-right: 10px;
}

div.mention_avatar_block div.mention_avatar {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font: 10px / 26px Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  background-color: rgb(63, 81, 181);
  color: rgb(143, 161, 255);
}
.mention_avatar_image {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  border-radius: 8px;
  margin-right: 10px;
}

.mention > span {
  margin: 0 3px;
}
